/*@import "_custom.scss";*/
/*@import "~bootstrap/scss/bootstrap";*/

.tmp {
  //background-image: url("../dist/images/head.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;

}

#head {
  font-size: 2em;
}
