.logo {
  width: 273px;
}

.name {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.mainPict {
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
}

.colC {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}
