.logo {
  width: 273px;
}

.name {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.imgCenter {
  display: flex;
  align-items: center;
}

.mainPict {
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;

}

#head {
  font-size: 2em;
}
